.drummachine {
  width: 1030px;
  margin: 0 auto;
}

.start-stop {
  width: 100px;
  height: 50px;
  text-align: center;
  border: 1px solid black;
}

.step-button {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.channel-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.step-on {
  background: grey;
}

.fx-div {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  cursor: crosshair;
}

#fx-canvas {
  height: 400px;
  width: 400px;
}
